####################################
# Python
####################################

# Virtual environments
venv/
.env/
.envrc
.python-version
**/venv/
**/.venv/
**/env/
**/bin/
**/include/
**/lib/
**/share/
pyvenv.cfg

# Python cache / compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

####################################
# Java
####################################

# Compiled files
*.class

# Maven
target/

# Gradle
.gradle/
build/

####################################
# Logs
####################################
*.log

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# IDEs
####################################
.vscode/
.idea/
*.iml

####################################
# Environment / secrets
####################################
.env
.env.*
